<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <title>Hello, world!</title>


</head>


<body>
<div class="container">


    <div class="card">
        <div class="card-body">
            <h1>My portfolio</h1>
        </div>
    </div>


    <img src="https://picsum.photos/300/200" class="rounded" alt="...">


    <span class="d-block p-2 text-white"> </span>


    <div class="container1">
        About me

    </div>

    <div class="bd-example">
        <ul>
            <li> Firs Name: All lists have their top margin removed</li>
            <li>Last Name: And their bottom margin normalized</li>
            <li>And their bottom margin normalized</li>
            <li>All lists have their top margin removed</li>
            <li>And their bottom margin normalized</li>
            <li>And their bottom margin normalized</li>
        </ul>


    </div>


    <p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc malesuada condimentum
        sollicitudin. Maecenas ornare dictum metus, at pretium mauris ullamcorper sit amet. Fusce sit amet feugiat
        turpis. Pellentesque mattis eu ligula a rutrum. Nunc id eleifend nulla, eu ornare magna. Praesent dui tellus,
        vestibulum et pretium ut, condimentum sed lectus. Praesent pulvinar erat a sapien dignissim tincidunt. Maecenas
        ornare est dui. Pellentesque mollis massa nec orci consequat, a rutrum turpis mattis. Suspendisse libero ipsum,
        dignissim sed risus non, tristique hendrerit metus. In posuere, leo in posuere facilisis, enim ligula porta
        nisl, nec vulputate purus massa ut arcu. Sed in ante vehicula, maximus nunc at, consequat ipsum. Morbi eu purus
        semper, accumsan nulla at, dign. </p>

    <span class="d-block p-2 text-white"> </span>
    <div class="container1">
        Scills
    </div>

    <span class="d-block p-2 text-white"> </span>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Level</th>
            <th scope="col">Python</th>
            <th scope="col">JavaScript</th>
            <th scope="col">SQL</th>
            <th scope="col">English</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td> ⭐</td>
            <td> ⭐</td>
            <td> ⭐</td>
            <td> ⭐</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>⭐</td>
            <td>in progress</td>
            <td>in progress</td>
            <td>⭐</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>in progress</td>
            <td>in progress</td>
            <td>in progress</td>
            <td>in progress</td>
        </tr>

        <tr>
            <th scope="row">4</th>
            <td>in progress</td>
            <td>in progress</td>
            <td>in progress</td>
            <td>in progress</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>in progress</td>
            <td>in progress</td>
            <td>in progress</td>
            <td>in progress</td>
        </tr>
        </tbody>
    </table>

    <span class="d-block p-2 text-white"> </span>

    <div class="container1">
        Contacts
    </div>


    <span class="d-block p-2 text-white"> </span>
    <div class="bd-example">
        <address>
            <strong>Twitter, Inc.</strong><br>
            1355 Market St, Suite 900<br>
            San Francisco, CA 94103<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
        <address>
            <strong>Full Name</strong><br>
            <a href="mailto:first.last@example.com">first.last@example.com</a>
        </address>


    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>


</div>


</body>
</html>

