body{
    background: #fff;

}

.table {
    background: #f4f1f1;

}

.container1 {
    text-align: center;
    color: #343030;
    font-weight: bold;
    font-size: x-large;

    }

.d-block{
    background: #adacac;
}

.card-body {
    background: #adacac;
    text-align: center;
    color: #373737

}

#373737